#presentation{
    position: relative;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    width: 100%;
}
#presentation .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#presentation .content1{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 60%;
}
#presentation .content2{
    padding-top: 190px;
    height: 100%;
    width: 40%;
}
#presentation .content2 h2{
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.379);
    margin-bottom: -5px;
}
#presentation .content2 h1{
    letter-spacing: 1px;
    font-size: 50px;
}
#presentation .content2 p{
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#presentation .content2 p span{
    font-weight: 800;
}
#presentation .content2 a{
    border-radius: 20px;
    transition: all .3s ease-in-out;
    position: relative;
    top: 60px;
    background-color: rgba(152, 152, 152, 0.144);
    padding: 14px 45px 14px 45px;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(63, 189, 122, 0.179);
    -moz-box-shadow: 0px 0px 22px 0px rgba(63, 189, 122, 0.179);
    box-shadow: 0px 0px 22px 0px rgba(63, 189, 122, 0.179);
}
#presentation .content2 a:hover{
    color: rgb(220, 220, 220);
}
#presentation .btn2{
    left: -20px;
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.803);
}
#presentation .content2 a span{
    color: rgb(63, 189, 122);
    transition: all .3s ease-in-out;
}
#presentation .content2 a:hover span{
    color: rgba(63, 189, 122, 0.573) !important;
}
.middle{
    position: absolute;
    bottom: 50px;
    left: calc(100% / 2);
    transform: translate(-50%,-50%);
}
.mouse{
    width: 30px;
    height: 55px;
    border: 1px solid #ffffff;
    border-radius: 60px;
}
.mouse::before{
    content: "";
    width: 2px;
    height: 13px;
    position: absolute;
    top: 30px;
    background: #fbf9f990;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    opacity: 1;
    animation: mouse 3s infinite;
}
@keyframes mouse {
    from{
        opacity: 1;
        top: 8px;
    }
    to{
        opacity: 0;
        top: 20px;
    }
}


#skills{
    margin-top: 50px;
}
#skills .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#skills .container .content-1{
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
#skills .skill-content-back{
    overflow: hidden;
    position: relative;
    background-color: rgba(43, 43, 43, 0.692);
    width: calc(100% / 3 - 28px);
    height: 180px;
    margin: 10px;
    border-radius: 10px 5px 10px 10px;
    animation-name: move_skills;  
    animation-duration: 4s;
    animation-iteration-count: infinite;
    left: 0;
}
@keyframes move_skills {
    0%   {
        left: 0px;
        top: 0px;
        transform: rotate(0deg);
    }
    25%  {
        left: -10px;
        top: -10px;
        transform: rotate(-2deg);

    }
    50%  {

        transform: rotate(2deg);
        left: 20px;
        top: 20px;
    }
    100% {
        transform: rotate(0deg);
        top: 0;
        left: 0;
    }
}
#skills .container .content-2{
    
    animation-name: img_move_skills;  
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes img_move_skills {
    0%   {
        transform: rotate(0deg);
    }
    25%  {
        transform: rotate(10deg);

    }
    50%  {

        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#skills .skill-content-back h1{
    text-align: center;
    width: 260px;
    position: absolute;
    left: -67px;
    top: 14px;
    transform: rotate(-20deg);
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 500;
}
#skills .skill-content-back i {
    position: absolute;
    left: 0;
    top: 55px;
    font-size: 56px;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.741);
}
#skills .skill-content-back h2{
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
#skills .skill-content-back h3{
    position: absolute;
    bottom: 17px;
    left: 0;
    width: 100%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.379);
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;

}
#skills .container .content-2{
    width: 50%;
}



#aboutus .content-back{
    position: relative;
    margin: 10px;
    margin-top: 50px;
    height: 300px;
    background-color: rgba(43, 43, 43, 0.775);
    margin-bottom: 90px;
    transition: all .3s ease-in-out;
    border-radius: 10px 20px 20px 10px;
}
#aboutus .content-back:hover{
    transform: translate(-4px, -4px);

}
#aboutus .content-back .content-decoration{
    position: absolute;
    right: -40px;
    top: -70px;
    width: 450px;
    height: 450px;
    transform: rotate(-15deg);
}
#aboutus .content-back h1{
    position: absolute;
    left: 70px;
    top: 50px;
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: 800;
}
#aboutus .content-back p{
    position: absolute;
    left: 70px;
    top: 115px;
    width: 50%;
    color: rgba(255, 255, 255, 0.807);
}
#aboutus .content-back a{
    position: absolute;
    border-radius: 20px;    
    left: 70px;
    bottom: 40px;
    transition: all .3s ease-in-out;
    background-color: rgba(152, 152, 152, 0.144);
    padding: 14px 35px 14px 35px;
    text-decoration: none;
    letter-spacing: 2.5px;
    color: rgb(216, 204, 32);
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 11px    0px rgba(233, 220, 36, 0.179);
    -moz-box-shadow: 0px 0px 11px 0px rgba(233, 220, 36, 0.179);
    box-shadow: 0px 0px 22px 0px rgba(233, 220, 36, 0.179);
}
#aboutus .content-back a:hover{
    transform: scale(1.05);
    color: var(--color_primary_dark);
}




#projects{
    margin-bottom: 100px;
    margin-top: -50px;
    height: 580px;
}
#projects .title{
    text-shadow: 0px 5px rgba(215, 126, 169, 0.677);
    letter-spacing: 4px;
    font-size: 43px;
    width: 80%;
    top: 0;
    left: calc(10%);
    text-align: center;
    margin-top: -100px;
}
#projects .title span{
    text-shadow: none;
    position: absolute; 
    color: #d1d1d143;
    top: 3px;
    left: 0%;
    width: 100%;
    font-size: 39px;
    text-align: center;
}
#projects .title .d1{
    z-index: 1;
}
#projects .title .d2{
    top: 20px;
    font-size: 36px;
    color: #d1d1d10a;   
}



#projects .container{
    padding-top: 70px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#projects .pnl-1{
    width: 43%;
    height: 100%;
    position: relative;

}
#projects .pnl-1 h1{
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
    font-size: 39px;
    letter-spacing: 1px;
}
#projects .pnl-1 p{
    width: 83%;
    margin-left: 5%;
    font-size: 14px;
    left: 2px;
    color: rgba(255, 255, 255, 0.937);
    margin-bottom: 40px;
    letter-spacing: 2   px;
}
#projects .pnl-1 a{
    margin-left: 5%;
    margin-top: 50px;
    width: 100%;
    height: 20px;
    padding: 13px 43px 13px 43px;
    background-color:rgb(215,126,169);
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 2px;
    font-size: 14px;
}
#projects .pnl-1 a:hover{
    background-color:rgba(215, 126, 169, 0.771);
}



#projects .pnl-2{
    position: relative;
    width: 50%;
    height: 100%;
}
#projects .pnl-2 .box-project{
    position: absolute;
    width: 250px;
    height: 380px;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(255, 255, 255, 0.438);
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
#projects .pnl-2 .inner1{
    animation-name: img_move_projects-1;  
    top: calc(100% / 2 - 140px);
    right: 0;
}
#projects .pnl-2 .inner2{
    animation-name: img_move_projects-2;  
    top: calc(100% / 2 - 290px);
    right: calc(150px + 15px);
}
#projects .pnl-2 .inner3{
    animation-name: img_move_projects-3;  
    top: calc(100% / 2 - 200px);
    left: 5px;
}


@keyframes img_move_projects-1 {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    90%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes img_move_projects-2 {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    90%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
@keyframes img_move_projects-3 {
    0%{
        transform: translate(-8px);
    }
    50%{
        transform: translate(8px);
    }
    90%{
        transform: translate(-8px);
    }
    100%{
        transform: translate(0px);
    }
    
}






#footer{
    background-color: var(--NavBar_Color);
    width: 100%;
    height: 70px;
}
#footer h1{
    top: 25px;
    left: 10px;
    position: absolute;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}




@media only screen and (max-width: 1070px) {
    #presentation .content1{
        width: 100%;
        height: 400px;
    }
    #presentation .content1 .img{
        position: absolute;
        top: -140px;
        right: calc(100% / 2 - 200px);
        width: 400px !important;
    }
    #presentation .content2{
        padding-top: 0;
        height: 300px;
        width: 100%;
        text-align: center;
    }
    #presentation .content2 p{
        position: relative;
        width: 80%;
        left: 10%;
        text-align: center;
    }
    #presentation .content2 a{
        top: 25px;
    }
    .mouse{
        visibility: hidden;
    }

    
    #skills .container .content-1{
        z-index: 1;
        width: 100%;
        justify-content: center;
    }
    #skills .container .content-2{
        width: 100%;
        margin-top: -600px;
    }
    #skills .container .content-2 .img{
        width: 600px !important;
        position: absolute;
        right: -100px;
    }


    #aboutus .content-back{
        margin-top: 150px;
        height: 280px;
    }
    #aboutus .content-back .content-decoration{
        right: -40px;
        top: -100px;
        width: 200px;
        height: 200px;
        transform: rotate(-30deg);
    }
    #aboutus .content-back h1{
        position: absolute;
        left: 10%;
        width: 80%;
        text-align: center;
        top: 50px;
    }
    #aboutus .content-back p{
        position: relative;
        left: 10%;
        width: 80%;
        top: 115px;
        text-align: center;
        color: rgba(255, 255, 255, 0.807);
        margin-bottom: 10px;
    }
    #aboutus .content-back a{
        position: absolute;
        border-radius: 20px;    
        left: calc(100% / 2 - 80px);
        bottom: 20px;
    }


    #projects{
        height: auto;
    }
    #projects .pnl-1{
        width: 100%;
        position: relative;
    }
    #projects .pnl-1 h1{
        margin-top: 0;
        width: 90%;
        left: 5%;
        text-align: center;
    }
    #projects .pnl-1 p{
        position: relative;
        width: 60%;
        left: 15%;
        text-align: center;
        margin-bottom: 20px;
    }
    #projects .pnl-1 a{
        position: relative;
        left: calc(100% / 2 - 150px);
    }


    #projects .pnl-2{
        position: relative;
        width: 100%;
        margin-top: 30px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #projects .pnl-2 .box-project{
        position: relative;
        width: calc(100% / 3.3);
        height: 380px;
        margin: 5px;
        
    }
    #projects .pnl-2 .inner1{
        animation-name: none;  
        top: auto;
        right: auto;
    }
    #projects .pnl-2 .inner2{
        animation-name: none;  
        top: auto;
        right: auto;
    }
    #projects .pnl-2 .inner3{
        animation-name: none;  
        top: auto;
        left: auto;
    }
    



       
}
@media only screen and (max-width: 571px) {
    #aboutus .content-back{
        margin-top: 150px;
        height: 340px;
    }

    #projects .pnl-1 a{
        position: relative;
        left: calc(100% / 2 - 130px);
    }

    #projects .pnl-2 .box-project{
        position: relative;
        width: 70%;
        
    }
    




}
@media only screen and (max-width: 496px) {
    #aboutus .content-back{
        margin-top: 150px;
        height: 340px;
    }

    #projects .title{
        font-size: 37px;
    }

    #projects .pnl-1 h1{
        font-size: 35px;
    }

}