@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    font-family: "Poppins" , sans-serif;
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 40px rgb(40 ,40,40) inset !important;
}
:root{
    --color_primary:rgb(232,201,76);
    --color_primary_middle:rgb(224, 188, 41);
    --color_primary_dark:rgb(149, 137, 32);
    --backgroud_Color:rgb(35,35,35);
    --NavBar_Color: rgb(27,27,27);

    --color-pink: rgb(215,126,169);
    --color-green : rgb(142,200,190);
    --color-blue : rgb(88,187,235);
    --color-purple : rgb(124,119,234);
    --color-red :rgb(215,109,120);
}
body{
    color: white;
}
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
::-webkit-scrollbar-thumb{
    background: var(--color_primary_middle);
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
    background:  var(--color_primary_dark);
}
::-webkit-scrollbar-track{
    background: var(--backgroud_Color);
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px var(--backgroud_Color);
}

.text-shadow-red{
     text-shadow: 0px 0px 4px var(--color-red);
}
.text-shadow-pink{
    text-shadow: 0px 0px 4px var(--color-pink);
}
.text-shadow-purple{
    text-shadow: 0px 0px 4px var(--color-purple);
}
.text-shadow-green{
    text-shadow: 0px 0px 4px var(--color-green);
}
.text-shadow-blue{
    text-shadow: 0px 0px 4px var(--color-blue);
}
.text-shadow-yellow{
    text-shadow: 0px 0px 4px var(--color_primary);
}




#alert{
    pointer-events: none;
    transition: all .4s ease-in-out;
    position: fixed;
    right: 7px;
    bottom: 10px;
    width: 340px;
    height: 40px;
    border-radius: 6px;
    opacity: 0;
    overflow: hidden;
    z-index: 99999999999;
    border-width: 1.5px;
}
.alert-show{
    opacity: 1 !important;
    height: 40px;
}
#alert i{
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    color: rgba(255, 255, 255) !important;
}
#alert h1{
    position: absolute;
    left: 60px;
    top: calc(100% / 2 - 9px);
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(255, 255, 255) !important;
}
















